body { 
  font-family:'Open Sans'; 
  line-height:1.7em; 
  background-color:rgb(255, 255, 255);
  color: black;}
#header{
    background-color: #f1f1f1;
    height: 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  #logo{
    float: left;
    font-weight: bold;
    font-size: 18px;
  }
  ul{
    display: inline;
  }
  li{
    display: inline-block;
    padding: 0px 30px;
  }
  .scrollNav-active{
    color: red !important;
  }
  a{
    color: gray;
    text-decoration: none;
  }
  #container{
    margin-top: 70px;
    
  }
  #d1{
    text-align : center;
  }

  #btn{
    border-radius:10px;
    width: 100px;
  height: 45px;
  font-family: AppleSDGothicNeo;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bac79e;
  background-color: white;
  }

  #btn_prev{
    width: 184px;
  height: 40px;
  border-radius: 20px;
  background-color: #bebebe;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  }

  #btn_next{
    width: 184px;
    height: 40px;
    border-radius: 20px;
    background-color: #bac79e;
    font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}